* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Century Gothic";
    src: url("../fonts/Century-Gothic-Bold.ttf") format('ttf');
    font-weight: 700;
}

@font-face {
    font-family: "Century Gothic";
    src: url("../fonts/Century-Gothic.ttf") format('ttf');
    font-weight: 400;
}

body {
    background-color: beige;
}

h1 {
    font-family: 'Century Gothic';
    font-size: 47.3392px;
    line-height: 59px;
    color: #070707;
    padding-bottom: 10px;
    margin-top: 30px;
}

h2 {
    font-family: 'Century Gothic';
    font-size: 47.3392px;
    line-height: 59px;
    color: #070707;
    font-weight: 400;
}

.about-me {
    background-color: darkgray;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

@font-face {
    font-family: "Century Gothic";
    src: url("../fonts/Century-Gothic-Bold.ttf") format('ttf');
    font-weight: 700;
}

.privet_im_box {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.about {
    margin-bottom: 10px;

}

.portfoolio img {
    width: 700px;
    border-radius: 20px;
    margin-top: 10px;
}

.portfoolio p {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 20px;
    font-family: "Century Gothic";
    text-decoration: underline;
}

.portfoolio h2 {}

.photo {
    width: 700px;
    border-radius: 20px;
    margin-bottom: 30px;
}

.Menu {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 10px;
    font-family: 'Century Gothic';
    font-size: 16px;
    color: gray;
    font-weight: 700;
    position: fixed;
    width: 700px;
}

.Menu li:hover {
    color: black
}

.Menu a {
    text-align: center;
    padding: 3px;
    border-radius: 10px;
    background-color: coral;
    text-decoration: none;
    color: inherit;
}

.contacts_link {
    text-align: center;
    width: 180.5px;
    height: 42px;
    background-color: #070707;
    color: #ffffff;
    text-decoration: none;
    display: block;
    font-family: "Century Gothic";
    padding-top: 10px;
    border-radius: 50px; 
    margin: 0 auto;
    margin-top: 10px;
    font-weight: 700;
}

.contacts {
text-align: center;

}

.contacts p{
margin-top: 5px;
font-family: "Century Gothic";
}

.portfoolio{
margin-top:30px;
}